In [50]:
import pandas as pd
data = {'Text': ["Hello@World!", "Python#Rocks!", "Data$Science&ML","I love Bangladesh"],
'Number': ["Hello12Nayeem!", "You are#11Rocks!", "Data$81Science&Parbenah?","01923248097"]}
df = pd.DataFrame(data)
df

                Text                    Number
0       Hello@World!            Hello12Nayeem!
1      Python#Rocks!          You are#11Rocks!
2    Data$Science&ML  Data$81Science&Parbenah?
3  I love Bangladesh               01923248097

In [51]:
#identifying of existance of special character -- Boolean output
df['Text'].str.contains(r'[^a-zA-Z0-9\s]',regex=True)

0     True
1     True
2     True
3    False
Name: Text, dtype: bool

In [52]:
#identifying which row are affected by special character
df[df['Text'].str.contains(r'[^a-zA-Z0-9\s]',regex=True)]

              Text                    Number
0     Hello@World!            Hello12Nayeem!
1    Python#Rocks!          You are#11Rocks!
2  Data$Science&ML  Data$81Science&Parbenah?

In [53]:
#count the special character of every row
df['Special_Char_Count_Text'] = df['Text'].apply(lambda x: len([c for c in x if not c.isalnum() and not c.isspace()]))
df['Special_Char_Count_Number'] = df['Number'].apply(lambda x: len([c for c in x if not c.isalnum() and not c.isspace()]))
df

,Text,Number,Special_Char_Count_Text,Special_Char_Count_Number
0,Hello@World!,Hello12Nayeem!,2,1
1,Python#Rocks!,You are#11Rocks!,2,2
2,Data$Science&ML,Data$81Science&Parbenah?,2,3
3,I love Bangladesh,01923248097,0,0

In [54]:
#remove special character or replace by ''
df['Text']=df['Text'].str.replace(r'[^a-zA-Z\s]','',regex=True)

In [55]:
df['Number']=df['Number'].str.replace(r'[^a-zA-Z0-9\s]','',regex=True)

In [56]:
df

,Text,Number,Special_Char_Count_Text,Special_Char_Count_Number
0,HelloWorld,Hello12Nayeem,2,1
1,PythonRocks,You are11Rocks,2,2
2,DataScienceML,Data81ScienceParbenah,2,3
3,I love Bangladesh,01923248097,0,0